
.ups__home-info_container-signup a {
    background-color: var(--ups-dark);
    color: white;
    font-weight: bold;
    border: none;
    border-radius: 1.5rem;
    padding: 0.5rem 0.5rem;
    margin: 2rem 0.5rem;
    font-size: clamp(1rem, 4vw, 1.5rem);
    cursor: pointer;
}