.ups__events-info {
    display: flex;
}

.ups__events-info_container {
    padding: 1rem 3rem;
}

.ups__events-info_container h1 {
    font-size: 2.5rem;
}

.ups__events-info_container p {
    font-size: 1rem;
    text-align: left;
}
.ups__events-info_container a:is(a, :visited) {
  text-decoration: none;
  color: gray;
  cursor: pointer;
}

.ups__events-info_container a:hover {
  text-decoration: none;
  color: lightgray;
  cursor: pointer;
}