.ups__home-header {
    margin: 0;
    padding: clamp(8rem, 12vw, 20rem) 0 clamp(4rem, 6vw, 10rem);
    background:
        linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)),
        url("../../../assets/header.jpg");
      background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    max-width: 100%;
    height: auto;
    display: border-box;
}

.ups__home-header h1 {
    color: white;
    font-size: 4rem;
}

.ups__home-header p, i {
    color: white;
    font-size: 1rem;
}

.ups__home-header_container {
    padding: 0 10%;
}