.ups__resources-clubroom {
    display: block;
}

.ups__resources-clubroom_container {
    
    padding: 1rem 5rem;

    font-size: 1rem;
}

.ups__resources-clubroom_photo {
  width: 21rem;
  height: auto;
  float: right;
  margin: 0 1rem;
}

.ups__resources-clubroom_container h3 {
    margin-top: 0.75rem;
    margin-bottom: 0.2rem;
    text-align: left;
}

.ups__resources-clubroom_container p {
    margin: 0.2rem 0;
    text-align: left;
}