.ups__resources-clubroom {
    display: block;
}

.ups__resources-clubroom_container {
    text-align: left;
    padding: 0 5rem;

    font-size: 1rem;
}

.ups__resources-clubroom_placeholder {
  width: 40%;
  height: 300px;
  background-color: grey;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  border-radius: 0.5rem;
  float: right;
  margin-left: 1rem;
}

.ups__resources-clubroom_container h3 {
    margin: 0.2rem 0;
}

.ups__resources-clubroom_container p {
    margin: 0.2rem 0;
}