.ups__socials {
    margin-top: 2vh;
    display: flex;        
  gap: 10vw;          
  justify-content: center; 
  align-items: center;    
}

.ups__socials img {
  width: 2.5rem;          /* icon size */
  height: 2.5rem;
  transition: transform 0.2s;
}
