.ups__home-info {
    display: flex;
}

.ups__home-info_container {
    padding: 4vw 8vw;
}

.ups__home-info_container h1 {
    font-size: clamp(1.8rem, 7vw, 2.5rem);
}

.ups__home-info_container p {
    text-align: left;
}

.ups__home-info_container-signup a {
    background-color: var(--ups-dark);
    color: white;
    font-weight: bold;
    border: none;
    border-radius: 1.5rem;
    padding: 0.5rem 0.5rem;
    margin: 2rem 0.5rem;
    font-size: clamp(1rem, 4vw, 1.5rem);
    cursor: pointer;
}