.ups__navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0;
  padding: 0.1rem 0.8vw;
  padding-right: 1rem;
  z-index: 999;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  display: flex;
  flex-direction: row;
  align-items: center;
  background-image: linear-gradient(to bottom, white, var(--ups-color));
  width: 100%;
  box-sizing: border-box;
}

.emas__navbar-heading {
  display: flex;
  align-items: center;
}

.emas__navbar-heading {
  display: flex;
  align-items: center;
  gap: 0.6rem;
  color: var;
  text-decoration: none;
  font-weight: bold;
}

.emas__navbar-heading img {
  width: min(6rem, 100px);
  height: auto;
}

.emas__navbar-heading h1 {
  font-size: 1.5rem;
  line-height: 1;
}

.emas__navbar-links {
  display: flex;
}

.emas__navbar-links_menu {
  display: flex;
  align-items: center;
  gap: 1.5rem;
}

.emas__navbar-links_menu a {
  color: black;
  text-decoration: none;
  font-size: 1.2rem;
  transition: color 0.2s ease;
  font-weight: bold;
}

.emas__navbar-links_menu a:visited {
  color: black;
}
.emas__navbar-links_menu a:hover {
  color: #aaa;
}

.emas__navbar-hamburger {
  display: none;
  font-size: 1.5rem;
  background: none;
  border: none;
  cursor: pointer;
}

@media (max-width: 700px) {
  .emas__navbar-hamburger {
    display: block;
  }
  .emas__navbar-links {
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.3s ease-in, padding 0.3s ease-in;
    position: absolute;
    top: 100%;
    left: 0;
    right: 0;
    flex-direction: column;
    background-image: linear-gradient(to bottom, var(--ups-color), var(--ups-light-translucent));
    padding: 0 1rem;
    box-sizing: border-box;
  }
  .emas__navbar-links.open {
    max-height: 300px;
    transition: max-height 0.3s ease-out, padding 0.3s ease-out;
    padding: 1rem;

  }
  .emas__navbar-links_menu {
    flex-direction: column;
}
}